{# The DS2505 site's Successful registration or login page #}
{# Inherit the code from the template #}
{% extends 'base.html' %}
{# Specify the page title #}
{% block page_title %} Registration/Login Success {% endblock page_title %}
{% block page_heading %}
   Welcome,you have successfully registered or signed in.
{% endblock %}

{% block page_content %}
   <div class="container mt-5">
      <div class="alert alert-success" role="alert">
         <h4 class="alert-heading">Success!</h4>
         <p>Your Registration/sign-in was successful.</p>
   </div>

{% endblock %}